@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navLinks {
    @apply font-medium text-gray-500 relative hover:text-primary py-1 overflow-hidden after:content-[''] after:block after:h-[2px] after:w-full after:bg-secondary after:absolute after:bottom-0 after:-left-[100%] after:duration-300 after:ease-in-out hover:after:left-0
  }
  
  .registerBtn {
    @apply font-medium text-white bg-secondary bg-opacity-90 hover:bg-opacity-100 ease-in-out duration-500 py-1 px-2 rounded-md
  }
  
  .dropdownLinks {
    @apply flex py-1 px-2 text-black hover:bg-slate-300 font-medium rounded-md w-full ease-out duration-500 z-50
  }
  
  .sidebarNavLinks {
    @apply flex gap-3 font-medium text-gray-500 w-full p-3 hover:bg-primary hover:text-white
  }
  
  .propertyBBA {
    @apply flex items-center gap-2 text-gray-500
  }
  
  .footer_links {
    @apply text-sm font-semibold
  }

  .footer_social_links {
    @apply flex items-center justify-center w-[40px] h-[40px] rounded-full bg-white text-primary hover:scale-110 transition duration-150 ease-in-out
  }

  .hamburgerSpan {
    @apply absolute h-[4px] text-primary rounded transition duration-300 bg-primary
  }
  
  .pagination {
    @apply flex items-center border px-1 py-1 ms:px-2 cursor-pointer text-sm ls:text-lg hover:bg-primary hover:text-white
  }
  
  .furnishingStatusSort {
    @apply flex items-center justify-center p-2  xls:px-4 w-full ls:w-max cursor-pointer duration-300 select-none ease-in-out text-sm ls:text-base
  }
  
  .tabSort {
    @apply w-1/2 p-2 rounded flex justify-center text-gray-500 font-bold
  }
  
  .tabSortActive {
    @apply bg-primary bg-opacity-20 border border-primary text-primary
  }

  .frequencySort {
    @apply px-3 py-1 border rounded-full flex justify-center text-gray-500
  }
  
  .minMaxSort {
    @apply flex flex-col text-gray-500 w-1/2 space-y-1
  }
  
  .minMaxSort_select {
    @apply p-2 border rounded min-w-full outline-none appearance-none bg-transparent
  }
  
  .propertyTypeIcon {
    @apply w-5 h-5
  }

  .contact_links {
    @apply flex items-center p-2 ms:px-4 gap-2 border rounded text-white text-sm ms:text-base font-medium bg-secondary
  }

  .filterTab {
    @apply w-1/2 p-1 rounded flex justify-center text-gray-500 font-semibold cursor-pointer text-sm
  }
  
  .filterTabActive {
    @apply bg-primary bg-opacity-20 border border-primary text-primary text-sm
  }
  
  .minMaxFIlter {
    @apply flex items-center justify-center font-semibold py-1 px-2 text-black space-y-1 cursor-pointer rounded-lg
  }
  
  .filterSelect {
    @apply select-none text-ellipsis truncate
  }
  
  .searchDropdown {
    @apply w-full border shadow-[rgba(0,0,0,0.24)_0px_3px_8px] rounded-lg bg-white text-black
  }

  .tooltip {
    @apply absolute right-4 -bottom-[9px] w-0 h-0 border-x-[8px] border-x-transparent border-b-[8px] border-b-white
  }
}

@layer utilities {
  .gridLayout {
    display: grid;
    grid-gap: 40px 16px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  @media (min-width: 400px) {
    .gridLayout {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 640px) {
    .gridLayout {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 1024px) {
    .gridLayout {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-button-next, .swiper-button-prev {
  color: #0847A8 !important;
}

.propertyId .swiper-button-next::after {
  content: "\21E8" !important;
  font-size: 50px !important;
  font-weight: 900 !important;
  
}

.propertyId .swiper-button-prev::after {
  content: "\21E6" !important;
  font-size: 50px !important;
  font-weight: 900 !important;
}

.swiper-pagination-bullet {
  background: #0847A8 !important;
}